.essp-home-card {
  width: 260px;
  height: 140px;
  background-color: #fff;
  padding: 15px;
}
.essp-home-card .inter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.essp-home-card .inter .img {
  border-radius: 100%;
}
.essp-home-card .inter .person {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}
.essp-home-card .inter .person .name {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.essp-home-card .inter .person .role {
  font-size: 14px;
  color: #00a0e9;
}
.essp-home-card .company {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
