.essp-list-item-detail {
  padding: 25px 0 15px;
  border-top: 1px solid #e3e8f3;
  border-bottom: 1px solid #e3e8f3;
  display: flex;
  flex-direction: row;
  margin-top: -1px;
  align-items: flex-start;
}
.essp-list-item-detail:hover .item-left-img {
  margin-left: 20px;
  margin-right: 10px;
}
.essp-list-item-detail .item-left-img {
  width: 170px;
  position: relative;
  transition: all 1s;
  margin-right: 30px;
  cursor: pointer;
}
.essp-list-item-detail .item-left-img img {
  min-height: 90px;
  max-height: 100px;
  vertical-align: top;
}
.essp-list-item-detail .item-left-img .mark {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: #000;
  opacity: .7;
  color: #fff;
  overflow: hidden;
  font-size: 12px;
}
.essp-list-item-detail .item-left-img .mark .sign {
  margin-left: 10px;
  float: left;
}
.essp-list-item-detail .item-left-img .mark .price {
  margin-right: 10px;
  float: right;
}
.essp-list-item-detail .inter {
  overflow: hidden;
}
.essp-list-item-detail .inter .title {
  font-size: 20px;
  height: 26px;
  line-height: 22px;
  color: #333;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  cursor: pointer;
}
.essp-list-item-detail .inter .title .type {
  display: inline-block;
  padding-left: 8px;
  padding-right: 15px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  border-radius: 8px 0 20px 0;
  background-image: linear-gradient(31deg, #22a2fa 0%, #10b5ff 100%), linear-gradient(#41c3ff, #41c3ff);
  color: #fff;
  margin-right: 15px;
  margin-top: -2px;
  vertical-align: middle;
}
.essp-list-item-detail .inter .title .type.end {
  background-image: linear-gradient(256deg, #dddee2 0%, #c9ccd3 100%), linear-gradient(#cdcdcd, #cdcdcd);
}
.essp-list-item-detail .inter .title .type.notice {
  background-image: linear-gradient(40deg, #fbba1e 0%, #fdb722 100%), linear-gradient(#ffcf6a, #ffcf6a);
}
.essp-list-item-detail .inter .spread {
  color: #999;
  padding: 5px 0;
}
.essp-list-item-detail .inter .spread .icon-box {
  font-size: 14px;
  margin-right: 15px;
}
.essp-list-item-detail .inter .spread .icon-box .icon {
  margin-right: 5px;
}
.essp-list-item-detail .inter .info {
  width: 100%;
  font-size: 14px;
  color: #999;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.essp-list-item-detail .inter .info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.essp-list-item-detail .inter .message {
  color: #999;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
}
.essp-list-item-detail .inter .message img {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 13px;
}
.essp-list-item-detail .inter .message .time {
  position: relative;
}
.essp-list-item-detail .inter .message .time:before,
.essp-list-item-detail .inter .message .time:after {
  content: '·';
  width: 20px;
  display: inline-block;
  height: 16px;
  text-align: center;
}
.essp-list-item-detail .inter .message .label {
  position: relative;
  display: inline-block;
  border: 1px solid #e3e8f3;
  border-radius: 1px;
  padding: 2px 5px;
  line-height: 14px;
  height: 14px;
  margin-right: 10px;
}
